<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itroos.cricapp">

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_cricket_player"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_cricket_player"
        android:supportsRtl="true"
        android:theme="@style/Theme.CricApp">
        <activity android:name=".views.activities.TeamActivity"></activity>
        <activity android:name=".views.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>